* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #87Ceeb;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #FFF;
    margin: 20px 0;
    text-shadow: 0px 0px 7px rgba(0,0,0,0.3);
}

.busca {
    display: flex;
    width: 300px;
}
.busca #searchInput {
    flex: 1;
    padding: 10px;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
    border: 0;
}
.busca button {
    padding: 10px;
    font-size: 15px;
    border: 0;
    background-color: rgb(61, 171, 214);
    color: #FFF;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}
.busca button:hover {
    background-color: #21a3d6;
}
.image{
    position:absolute;
    left: -30px;
    top: -30px;
}

.resultado {
    position: relative;
    width: 300px;
    padding: 15px;
    display: none;
    margin-top: 20px;
    border-radius: 5px;
    background-color: rgba(61, 171, 214, 0.7);
}

.generalInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(61, 171, 214, 0.7);

    border-radius: 10px;
    padding: 20px;
}

.titulo {
    width: 100%;
    color: #FFF;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.tempInfo, .sunsetInfo, .ventoInfo, .fellsLikeInfo, .humidityInfo {
    color: #FFF;
    font-size: 30px;
    font-weight: bold;
} 

.sunsetInfo, .fellsLikeInfo, .humidityInfo{
    margin: auto;
    margin-top: 25px;
}

.tempDescription{
    margin-top:10px;
    font-size: 15px;
    color: #FFF;
    text-transform: capitalize;
}
.max--min{
    display: flex;
    margin-top: 5px;
    font-size: 15px;
    color: #FFF;
}
.tempMax{
    margin-right: 15px ;
}

.tempMax sup, .tempMin sup{
    font-size: 10px;
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
    margin-top: 10px;
}

.sunset, .vento, .fellsLike, .humidity{
    height: 120px;
    background-color: rgba(61, 171, 214, 0.7);
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}

.sunsetTitulo, .ventoTitulo, .fellsLikeTitulo, .humidityTitulo{
    color: #FFF;
    font-size: 15px;
    text-align: left;
}

.tempInfo sup, .fellsLikeInfo sup {
    font-size: 15px;
    font-weight: normal;
}

.humidity span {
    font-size: 15px;
    font-weight: normal;
}

.vento{
    position: relative;
}

.ventoInfo{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 40px;
    top: 42px;
    font-size: 14px;
    padding-top: 9px;
    border-radius: 50%;
    background-color: #FFF;
    color: #666;
    z-index: 99;
}

.ventoArea {
    width: 90px;
    height: 90px;
    border: 1px solid #FFF;
    border-radius: 50%;
    margin: auto;
    padding-left: 45px;
    padding-top: 45px;
}

.ventoPonto {
    width: 40px;
    height: 2px;
    background-color: #FFF;
    transform-origin: left;
}

.aviso {
    color: #FFF;
    padding-top: 20px;
}

footer {
    margin-top: 20px;
    color: #FFF;
    font-size: 13px;
    text-shadow: 0px 0px 7px rgba(0,0,0,0.3);
}